.App {
  text-align: center;
}

.container.dashboard-container {
  padding: 20px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.MainBanner .jumbotron {
  background-image: url('/img/slider-bg.png');
  background-size: cover;
}

.MainSearch .row {
  margin: -60px 0 20px 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #888888;
  padding: 30px 0;
  margin-top: -60px;
}

.social-container {
  background-color: #f7f7f7;
  padding: 30px;
  margin-top: -15px;
}

.App-intro {
  font-size: large;
}

a, a:focus, a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.btn-round {
  border-radius: 50px;
  border: 3px solid #e7ebef !important;
  color: #fff;
  overflow: hidden;
}

.button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 17px 65px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
}

.button:focus {
  outline: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
