@media only screen and (max-width: 500px) {
  .DetailProperty .shadow.p-r-15 {
    padding-right: 0 !important;
  }
  .left-title {
    margin-left: 0;
  }
  .descr-content {
    padding: 0 20px 20px 20px;
  }
  .footer-right h4 {
    text-align: left !important;
  }
  .footer-distributed {
    padding: 10px;
    margin-top: 20px;
  }
}
